In [1]:
import pandas as pd
from pathlib import Path

In [41]:
# df = pd.read_excel('letterboxd.xlsx')
# df['URL'] = df['URL'].str.replace('https://boxd.it/', '')
# df['Year'] = df['Year'].astype(int)
# print(df.head())

In [2]:
lists_folder = Path("lists")
csv_files = lists_folder.glob("*.csv")

dfs = []

for file in csv_files:
    df = pd.read_csv(file, skiprows=4)
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)
combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')
combined_df['Year'] = combined_df['Year'].astype(int)

C:\Users\Tom\AppData\Local\Temp\ipykernel_15616\1895980572.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')

In [3]:
film_counts = (
    combined_df.groupby("URL")
      .agg(
          appearances=("URL", "count"),
          name=("Name", "first"),
          year=("Year", "first")
      )
      .reset_index()
)

In [4]:
film_counts.head()

    URL  appearances                   name  year
0  10hC            1  Make Way for Tomorrow  1937
1  10iU            3               La Notte  1961
2  10iq            1                 Pyaasa  1957
3  11PU            1          Black Orpheus  1959
4  11aM            3     The Heartbreak Kid  1972

In [5]:
film_count_counts = (
    film_counts["appearances"]
    .value_counts()
    .sort_index(ascending=False)
    .rename("number of films")
    .to_frame()
)

film_count_counts["cumulative total"] = film_count_counts["number of films"].cumsum()

print(film_count_counts)

   number of films  cumulative total
9               23                23
8               26                49
7               45                94
6               40               134
5               63               197
4              115               312
3              190               502
2              427               929
1             1265              2194

In [14]:
filtered_films = film_counts[film_counts["appearances"] > 2].sort_values(by=["year", "name"], ascending=True).reset_index()

In [7]:
filtered_films.head()

   index   URL  appearances                        name  year
0   1213  298m            8                Sherlock Jr.  1924
1   1231  29DO            7  The Passion of Joan of Arc  1928
2   1357  29ki            7                 City Lights  1931
3   1392  29vq            8                           M  1931
4   1024  25MC            7                Modern Times  1936

In [15]:
for i, row in filtered_films.iterrows():
    print(f"{i+1}. {row['name']} ({row['year']}) - {row['appearances']}")

1. Intolerance: Love's Struggle Throughout the Ages (1916) - 3
2. The Cabinet of Dr. Caligari (1920) - 3
3. Nosferatu (1922) - 4
4. Sherlock Jr. (1924) - 8
5. The Gold Rush (1925) - 3
6. The General (1926) - 6
7. Metropolis (1927) - 6
8. Napoleon (1927) - 5
9. Sunrise: A Song of Two Humans (1927) - 4
10. The Passion of Joan of Arc (1928) - 7
11. Man with a Movie Camera (1929) - 3
12. Un Chien Andalou (1929) - 3
13. City Lights (1931) - 7
14. Frankenstein (1931) - 3
15. M (1931) - 8
16. Freaks (1932) - 3
17. Trouble in Paradise (1932) - 3
18. Vampyr (1932) - 3
19. Duck Soup (1933) - 4
20. King Kong (1933) - 4
21. L'Atalante (1934) - 3
22. Bride of Frankenstein (1935) - 5
23. Top Hat (1935) - 3
24. Modern Times (1936) - 7
25. Angels with Dirty Faces (1938) - 3
26. Bringing Up Baby (1938) - 5
27. The Adventures of Robin Hood (1938) - 3
28. Gone with the Wind (1939) - 4
29. Mr. Smith Goes to Washington (1939) - 4
30. Only Angels Have Wings (1939) - 3
31. The Rules of the Game (1939) - 3
32. The Wizard of Oz (1939) - 7
33. Fantasia (1940) - 3
34. His Girl Friday (1940) - 7
35. The Grapes of Wrath (1940) - 3
36. The Philadelphia Story (1940) - 3
37. Citizen Kane (1941) - 8
38. Sullivan's Travels (1941) - 4
39. The Maltese Falcon (1941) - 4
40. Casablanca (1942) - 9
41. The Magnificent Ambersons (1942) - 3
42. To Be or Not to Be (1942) - 6
43. The Life and Death of Colonel Blimp (1943) - 6
44. Double Indemnity (1944) - 9
45. Brief Encounter (1945) - 7
46. Children of Paradise (1945) - 6
47. I Know Where I'm Going! (1945) - 3
48. Rome, Open City (1945) - 3
49. A Matter of Life and Death (1946) - 7
50. It's a Wonderful Life (1946) - 9
51. My Darling Clementine (1946) - 3
52. Notorious (1946) - 3
53. Paisan (1946) - 3
54. The Best Years of Our Lives (1946) - 4
55. The Big Sleep (1946) - 3
56. Black Narcissus (1947) - 3
57. Out of the Past (1947) - 5
58. Bicycle Thieves (1948) - 8
59. Letter from an Unknown Woman (1948) - 3
60. The Red Shoes (1948) - 6
61. The Treasure of the Sierra Madre (1948) - 6
62. Kind Hearts and Coronets (1949) - 3
63. Late Spring (1949) - 4
64. The Third Man (1949) - 8
65. All About Eve (1950) - 8
66. In a Lonely Place (1950) - 4
67. Orpheus (1950) - 3
68. Rashomon (1950) - 7
69. Sunset Boulevard (1950) - 8
70. The Young and the Damned (1950) - 4
71. Ace in the Hole (1951) - 4
72. Strangers on a Train (1951) - 4
73. Ikiru (1952) - 7
74. Singin' in the Rain (1952) - 9
75. Umberto D. (1952) - 3
76. Roman Holiday (1953) - 3
77. The Earrings of Madame de... (1953) - 3
78. The Wages of Fear (1953) - 5
79. Tokyo Story (1953) - 7
80. Ugetsu (1953) - 3
81. Godzilla (1954) - 4
82. Journey to Italy (1954) - 3
83. On the Waterfront (1954) - 4
84. Rear Window (1954) - 9
85. Sansho the Bailiff (1954) - 4
86. Seven Samurai (1954) - 9
87. All That Heaven Allows (1955) - 4
88. Diabolique (1955) - 3
89. Kiss Me Deadly (1955) - 3
90. Ordet (1955) - 4
91. Pather Panchali (1955) - 3
92. Rebel Without a Cause (1955) - 3
93. Rififi (1955) - 4
94. The Court Jester (1955) - 3
95. The Night of the Hunter (1955) - 8
96. A Man Escaped (1956) - 4
97. Forbidden Planet (1956) - 3
98. The Searchers (1956) - 5
99. 12 Angry Men (1957) - 8
100. Nights of Cabiria (1957) - 3
101. Paths of Glory (1957) - 5
102. Sweet Smell of Success (1957) - 5
103. The Bridge on the River Kwai (1957) - 5
104. The Cranes Are Flying (1957) - 4
105. The Seventh Seal (1957) - 6
106. Throne of Blood (1957) - 4
107. Wild Strawberries (1957) - 7
108. Witness for the Prosecution (1957) - 3
109. Ashes and Diamonds (1958) - 3
110. Touch of Evil (1958) - 5
111. Vertigo (1958) - 9
112. Anatomy of a Murder (1959) - 3
113. Apur Sansar (1959) - 3
114. Ben-Hur (1959) - 4
115. Hiroshima Mon Amour (1959) - 4
116. Imitation of Life (1959) - 3
117. North by Northwest (1959) - 4
118. Rio Bravo (1959) - 4
119. Some Like It Hot (1959) - 7
120. The 400 Blows (1959) - 6
121. Breathless (1960) - 5
122. Eyes Without a Face (1960) - 4
123. L'Avventura (1960) - 3
124. La Dolce Vita (1960) - 7
125. Le Trou (1960) - 3
126. Peeping Tom (1960) - 3
127. Psycho (1960) - 8
128. Rocco and His Brothers (1960) - 3
129. Spartacus (1960) - 3
130. The Apartment (1960) - 8
131. La Notte (1961) - 3
132. Last Year at Marienbad (1961) - 6
133. The Innocents (1961) - 3
134. West Side Story (1961) - 3
135. Yojimbo (1961) - 4
136. Cléo from 5 to 7 (1962) - 7
137. Harakiri (1962) - 4
138. Il Sorpasso (1962) - 3
139. Jules and Jim (1962) - 3
140. L'Eclisse (1962) - 3
141. La Jetée (1962) - 3
142. Lawrence of Arabia (1962) - 7
143. The Exterminating Angel (1962) - 4
144. The Man Who Shot Liberty Valance (1962) - 5
145. The Manchurian Candidate (1962) - 4
146. To Kill a Mockingbird (1962) - 4
147. Vivre Sa Vie (1962) - 4
148. What Ever Happened to Baby Jane? (1962) - 3
149. 8½ (1963) - 7
150. High and Low (1963) - 6
151. The Birds (1963) - 4
152. The Great Escape (1963) - 4
153. The Haunting (1963) - 3
154. The Leopard (1963) - 3
155. A Hard Day's Night (1964) - 3
156. Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 8
157. Goldfinger (1964) - 3
158. Kwaidan (1964) - 3
159. Onibaba (1964) - 3
160. Red Desert (1964) - 3
161. The Umbrellas of Cherbourg (1964) - 6
162. Woman in the Dunes (1964) - 3
163. Pierrot le Fou (1965) - 3
164. The Sound of Music (1965) - 4
165. Andrei Rublev (1966) - 5
166. Blow-Up (1966) - 4
167. Daisies (1966) - 4
168. Persona (1966) - 7
169. The Battle of Algiers (1966) - 7
170. The Good, the Bad and the Ugly (1966) - 9
171. Who's Afraid of Virginia Woolf? (1966) - 3
172. Belle de Jour (1967) - 3
173. Bonnie and Clyde (1967) - 3
174. Cool Hand Luke (1967) - 3
175. In the Heat of the Night (1967) - 3
176. Le Samouraï (1967) - 3
177. PlayTime (1967) - 5
178. Point Blank (1967) - 3
179. The Graduate (1967) - 5
180. The Young Girls of Rochefort (1967) - 6
181. 2001: A Space Odyssey (1968) - 9
182. Night of the Living Dead (1968) - 4
183. Once Upon a Time in the West (1968) - 7
184. Planet of the Apes (1968) - 3
185. Rosemary's Baby (1968) - 4
186. if.... (1968) - 3
187. Army of Shadows (1969) - 4
188. Kes (1969) - 3
189. Midnight Cowboy (1969) - 3
190. The Wild Bunch (1969) - 4
191. Z (1969) - 3
192. A Touch of Zen (1970) - 4
193. Performance (1970) - 3
194. The Conformist (1970) - 4
195. A Clockwork Orange (1971) - 6
196. Dirty Harry (1971) - 3
197. Harold and Maude (1971) - 5
198. McCabe & Mrs. Miller (1971) - 4
199. The French Connection (1971) - 3
200. The Last Picture Show (1971) - 4
201. Two-Lane Blacktop (1971) - 3
202. Wake in Fright (1971) - 3
203. Aguirre, the Wrath of God (1972) - 3
204. Cabaret (1972) - 4
205. Deliverance (1972) - 4
206. Solaris (1972) - 4
207. The Godfather (1972) - 9
208. The Heartbreak Kid (1972) - 3
209. What's Up, Doc? (1972) - 3
210. Amarcord (1973) - 3
211. American Graffiti (1973) - 3
212. Badlands (1973) - 4
213. Day for Night (1973) - 5
214. Don't Look Now (1973) - 5
215. High Plains Drifter (1973) - 3
216. Mean Streets (1973) - 3
217. Paper Moon (1973) - 3
218. Serpico (1973) - 4
219. Sleeper (1973) - 3
220. The Exorcist (1973) - 5
221. The Long Goodbye (1973) - 4
222. The Spirit of the Beehive (1973) - 4
223. The Sting (1973) - 3
224. The Wicker Man (1973) - 3
225. A Woman Under the Influence (1974) - 5
226. Ali: Fear Eats the Soul (1974) - 3
227. Blazing Saddles (1974) - 3
228. Chinatown (1974) - 8
229. Phantom of the Paradise (1974) - 3
230. The Conversation (1974) - 4
231. The Godfather Part II (1974) - 9
232. The Parallax View (1974) - 3
233. The Texas Chain Saw Massacre (1974) - 6
234. Young Frankenstein (1974) - 4
235. Barry Lyndon (1975) - 7
236. Dog Day Afternoon (1975) - 5
237. Jaws (1975) - 7
238. Jeanne Dielman, 23, quai du Commerce, 1080 Bruxelles (1975) - 4
239. Mirror (1975) - 4
240. Monty Python and the Holy Grail (1975) - 5
241. Nashville (1975) - 5
242. One Flew Over the Cuckoo's Nest (1975) - 7
243. Picnic at Hanging Rock (1975) - 3
244. The Rocky Horror Picture Show (1975) - 3
245. All the President's Men (1976) - 4
246. Carrie (1976) - 4
247. Network (1976) - 7
248. Rocky (1976) - 5
249. Taxi Driver (1976) - 8
250. Annie Hall (1977) - 5
251. Close Encounters of the Third Kind (1977) - 4
252. Eraserhead (1977) - 3
253. Sorcerer (1977) - 5
254. Star Wars (1977) - 9
255. Suspiria (1977) - 6
256. The Ascent (1977) - 3
257. Days of Heaven (1978) - 5
258. Grease (1978) - 4
259. Halloween (1978) - 5
260. The Deer Hunter (1978) - 5
261. Alien (1979) - 9
262. All That Jazz (1979) - 6
263. Apocalypse Now (1979) - 8
264. Being There (1979) - 3
265. Life of Brian (1979) - 3
266. Manhattan (1979) - 3
267. Real Life (1979) - 3
268. Stalker (1979) - 7
269. The Muppet Movie (1979) - 3
270. Airplane! (1980) - 5
271. Raging Bull (1980) - 8
272. The Blues Brothers (1980) - 3
273. The Elephant Man (1980) - 6
274. The Empire Strikes Back (1980) - 7
275. The Shining (1980) - 8
276. An American Werewolf in London (1981) - 4
277. Blow Out (1981) - 4
278. Body Heat (1981) - 3
279. Das Boot (1981) - 5
280. Possession (1981) - 3
281. Raiders of the Lost Ark (1981) - 9
282. Thief (1981) - 4
283. Blade Runner (1982) - 9
284. E.T. the Extra-Terrestrial (1982) - 5
285. Fanny and Alexander (1982) - 6
286. Fitzcarraldo (1982) - 3
287. Koyaanisqatsi (1982) - 3
288. The King of Comedy (1982) - 5
289. The Thing (1982) - 9
290. Tootsie (1982) - 3
291. Local Hero (1983) - 3
292. Scarface (1983) - 4
293. A Nightmare on Elm Street (1984) - 3
294. Amadeus (1984) - 8
295. Ghostbusters (1984) - 7
296. Once Upon a Time in America (1984) - 4
297. Paris, Texas (1984) - 7
298. The Terminator (1984) - 3
299. This Is Spinal Tap (1984) - 4
300. Back to the Future (1985) - 8
301. Brazil (1985) - 6
302. Come and See (1985) - 7
303. Mishima: A Life in Four Chapters (1985) - 3
304. Ran (1985) - 7
305. Tampopo (1985) - 5
306. A Room with a View (1986) - 3
307. Aliens (1986) - 6
308. Blue Velvet (1986) - 5
309. Ferris Bueller's Day Off (1986) - 4
310. Stand by Me (1986) - 5
311. The Fly (1986) - 4
312. Broadcast News (1987) - 3
313. Evil Dead II (1987) - 5
314. Full Metal Jacket (1987) - 4
315. Moonstruck (1987) - 3
316. Raising Arizona (1987) - 4
317. RoboCop (1987) - 4
318. The Princess Bride (1987) - 5
319. The Untouchables (1987) - 3
320. Where Is the Friend's House? (1987) - 4
321. Wings of Desire (1987) - 4
322. Withnail & I (1987) - 5
323. Akira (1988) - 5
324. Cinema Paradiso (1988) - 4
325. Dead Ringers (1988) - 3
326. Die Hard (1988) - 7
327. Grave of the Fireflies (1988) - 5
328. Midnight Run (1988) - 4
329. My Neighbor Totoro (1988) - 5
330. The Naked Gun: From the Files of Police Squad! (1988) - 3
331. The Vanishing (1988) - 3
332. Who Framed Roger Rabbit (1988) - 5
333. Women on the Verge of a Nervous Breakdown (1988) - 3
334. Crimes and Misdemeanors (1989) - 3
335. Dead Poets Society (1989) - 3
336. Do the Right Thing (1989) - 8
337. Field of Dreams (1989) - 3
338. Indiana Jones and the Last Crusade (1989) - 4
339. The Cook, the Thief, His Wife & Her Lover (1989) - 4
340. The Killer (1989) - 3
341. When Harry Met Sally... (1989) - 6
342. sex, lies, and videotape (1989) - 3
343. Close-Up (1990) - 3
344. GoodFellas (1990) - 9
345. Miller's Crossing (1990) - 3
346. A Brighter Summer Day (1991) - 5
347. JFK (1991) - 4
348. Point Break (1991) - 4
349. Raise the Red Lantern (1991) - 3
350. Terminator 2: Judgment Day (1991) - 9
351. The Silence of the Lambs (1991) - 8
352. Glengarry Glen Ross (1992) - 3
353. Hard Boiled (1992) - 3
354. Malcolm X (1992) - 3
355. Reservoir Dogs (1992) - 3
356. Twin Peaks: Fire Walk with Me (1992) - 4
357. Unforgiven (1992) - 4
358. Dazed and Confused (1993) - 3
359. Groundhog Day (1993) - 5
360. Jurassic Park (1993) - 8
361. Schindler's List (1993) - 7
362. The Piano (1993) - 6
363. Chungking Express (1994) - 6
364. Clerks (1994) - 4
365. Forrest Gump (1994) - 3
366. Léon: The Professional (1994) - 3
367. Pulp Fiction (1994) - 9
368. Satantango (1994) - 3
369. The Lion King (1994) - 4
370. The Shawshank Redemption (1994) - 7
371. Three Colours: Red (1994) - 4
372. Before Sunrise (1995) - 5
373. Braveheart (1995) - 3
374. Heat (1995) - 8
375. La Haine (1995) - 5
376. Se7en (1995) - 7
377. The Usual Suspects (1995) - 4
378. Toy Story (1995) - 4
379. Fargo (1996) - 7
380. Scream (1996) - 5
381. Secrets & Lies (1996) - 3
382. Trainspotting (1996) - 7
383. Boogie Nights (1997) - 5
384. Cure (1997) - 3
385. Funny Games (1997) - 3
386. Good Will Hunting (1997) - 3
387. Jackie Brown (1997) - 3
388. L.A. Confidential (1997) - 5
389. Life Is Beautiful (1997) - 3
390. Perfect Blue (1997) - 3
391. Princess Mononoke (1997) - 4
392. Taste of Cherry (1997) - 6
393. Titanic (1997) - 4
394. Run Lola Run (1998) - 3
395. Rushmore (1998) - 4
396. Saving Private Ryan (1998) - 6
397. The Big Lebowski (1998) - 5
398. The Celebration (1998) - 4
399. The Truman Show (1998) - 4
400. All About My Mother (1999) - 5
401. Beau Travail (1999) - 4
402. Being John Malkovich (1999) - 5
403. Fight Club (1999) - 7
404. Magnolia (1999) - 7
405. The Blair Witch Project (1999) - 4
406. The Green Mile (1999) - 3
407. The Insider (1999) - 5
408. The Iron Giant (1999) - 5
409. The Matrix (1999) - 8
410. The Sixth Sense (1999) - 4
411. Crouching Tiger, Hidden Dragon (2000) - 3
412. Gladiator (2000) - 5
413. In the Mood for Love (2000) - 9
414. Memento (2000) - 5
415. Requiem for a Dream (2000) - 4
416. Yi Yi (2000) - 5
417. Amélie (2001) - 4
418. Millennium Actress (2001) - 3
419. Mulholland Drive (2001) - 7
420. Ocean's Eleven (2001) - 5
421. Spirited Away (2001) - 9
422. The Lord of the Rings: The Fellowship of the Ring (2001) - 9
423. The Royal Tenenbaums (2001) - 3
424. Y Tu Mamá También (2001) - 3
425. Adaptation. (2002) - 3
426. Catch Me If You Can (2002) - 3
427. City of God (2002) - 7
428. The Lord of the Rings: The Two Towers (2002) - 4
429. The Pianist (2002) - 3
430. Goodbye, Dragon Inn (2003) - 3
431. Lost in Translation (2003) - 4
432. Memories of Murder (2003) - 5
433. Oldboy (2003) - 6
434. The Lord of the Rings: The Return of the King (2003) - 5
435. Before Sunset (2004) - 4
436. Downfall (2004) - 3
437. Eternal Sunshine of the Spotless Mind (2004) - 7
438. Howl's Moving Castle (2004) - 4
439. Kung Fu Hustle (2004) - 3
440. Napoleon Dynamite (2004) - 3
441. Spider-Man 2 (2004) - 3
442. Brokeback Mountain (2005) - 5
443. Children of Men (2006) - 6
444. Pan's Labyrinth (2006) - 8
445. The Departed (2006) - 3
446. The Lives of Others (2006) - 6
447. The Prestige (2006) - 3
448. 4 Months, 3 Weeks and 2 Days (2007) - 3
449. Hot Fuzz (2007) - 4
450. No Country for Old Men (2007) - 6
451. Ratatouille (2007) - 4
452. There Will Be Blood (2007) - 9
453. Zodiac (2007) - 4
454. Let the Right One In (2008) - 3
455. Synecdoche, New York (2008) - 4
456. The Dark Knight (2008) - 7
457. A Serious Man (2009) - 4
458. Avatar (2009) - 3
459. Fantastic Mr. Fox (2009) - 4
460. Inglourious Basterds (2009) - 7
461. Mary and Max (2009) - 3
462. Up (2009) - 3
463. Incendies (2010) - 3
464. Inception (2010) - 6
465. The Social Network (2010) - 6
466. A Separation (2011) - 3
467. The Tree of Life (2011) - 3
468. Django Unchained (2012) - 4
469. The Hunt (2012) - 4
470. 12 Years a Slave (2013) - 3
471. Her (2013) - 4
472. Prisoners (2013) - 3
473. The Tale of The Princess Kaguya (2013) - 3
474. The Wolf of Wall Street (2013) - 3
475. Under the Skin (2013) - 3
476. Boyhood (2014) - 4
477. Interstellar (2014) - 6
478. The Grand Budapest Hotel (2014) - 7
479. Whiplash (2014) - 6
480. Wild Tales (2014) - 3
481. Inside Out (2015) - 3
482. Mad Max: Fury Road (2015) - 7
483. Arrival (2016) - 3
484. La La Land (2016) - 4
485. Moonlight (2016) - 6
486. The Handmaiden (2016) - 6
487. Get Out (2017) - 6
488. Lady Bird (2017) - 5
489. Phantom Thread (2017) - 3
490. Spider-Man: Into the Spider-Verse (2018) - 6
491. 1917 (2019) - 3
492. Little Women (2019) - 3
493. Once Upon a Time... in Hollywood (2019) - 3
494. Parasite (2019) - 8
495. Portrait of a Lady on Fire (2019) - 7
496. The Father (2020) - 3
497. Drive My Car (2021) - 4
498. Everything Everywhere All at Once (2022) - 6
499. Barbie (2023) - 3
500. Oppenheimer (2023) - 6
501. Perfect Days (2023) - 3
502. Dune: Part Two (2024) - 4

In [9]:
selection = film_counts[film_counts["appearances"] == 6].sort_values(by="name", ascending=True)
for _, row in selection.iterrows():
    print(f"{row['name']} ({row['year']})")

A Clockwork Orange (1971)
Aliens (1986)
All That Jazz (1979)
Brazil (1985)
Children of Men (2006)
Children of Paradise (1945)
Chungking Express (1994)
Everything Everywhere All at Once (2022)
Fanny and Alexander (1982)
Get Out (2017)
High and Low (1963)
Inception (2010)
Interstellar (2014)
Last Year at Marienbad (1961)
Metropolis (1927)
Moonlight (2016)
No Country for Old Men (2007)
Oldboy (2003)
Oppenheimer (2023)
Saving Private Ryan (1998)
Spider-Man: Into the Spider-Verse (2018)
Suspiria (1977)
Taste of Cherry (1997)
The 400 Blows (1959)
The Elephant Man (1980)
The General (1926)
The Handmaiden (2016)
The Life and Death of Colonel Blimp (1943)
The Lives of Others (2006)
The Piano (1993)
The Red Shoes (1948)
The Seventh Seal (1957)
The Social Network (2010)
The Texas Chain Saw Massacre (1974)
The Treasure of the Sierra Madre (1948)
The Umbrellas of Cherbourg (1964)
The Young Girls of Rochefort (1967)
To Be or Not to Be (1942)
When Harry Met Sally... (1989)
Whiplash (2014)