In [80]:
import pandas as pd
import re
import unicodedata
from pathlib import Path

In [81]:
# df = pd.read_excel('letterboxd.xlsx')
# df['URL'] = df['URL'].str.replace('https://boxd.it/', '')
# df['Year'] = df['Year'].astype(int)
# print(df.head())

In [82]:
def remove_accents(text):
    normalised = unicodedata.normalize('NFKD', text)
    return ''.join(c for c in normalised if not unicodedata.combining(c))

def clean_title(title):
    title = remove_accents(title)
    title = title.lower()
    title = re.sub(r'[^A-Za-z0-9 ]', '', title)

    if title[:4] == "the ":
        title = title[4:]
    elif title[:2] == "a ":
        title = title[2:]
    elif title[:3] == "an ":
        title = title[3:]
    
    return title

In [83]:
lists_folder = Path("lists")
csv_files = lists_folder.glob("*.csv")

dfs = []

for file in csv_files:
    df = pd.read_csv(file, skiprows=4)
    df['List'] = file.stem.replace('-', ' ')
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)
combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')
combined_df['Year'] = combined_df['Year'].astype(int)
combined_df['Sort Name'] = combined_df['Name'].apply(clean_title)

C:\Users\Tom\AppData\Local\Temp\ipykernel_37696\3675412222.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')

In [84]:
combined_df.head()

,Position,Name,Year,URL,Description,List,Sort Name
0,1,All of Us Strangers,2023,Bz3C,NaN,1001 before you die,all of us strangers
1,2,The Zone of Interest,2023,gJsA,NaN,1001 before you die,zone of interest
2,3,The Boy and the Heron,2023,ipeM,NaN,1001 before you die,boy and the heron
3,4,Poor Things,2023,tNWU,NaN,1001 before you die,poor things
4,5,Oppenheimer,2023,wUow,NaN,1001 before you die,oppenheimer

In [85]:
film_counts = (
    combined_df.groupby("URL")
      .agg(
          appearances=("URL", "count"),
          name=("Name", "first"),
          year=("Year", "first"),
          lists=("List", list),
          sort=("Sort Name", "first")
      )
      .reset_index()
)

In [86]:
list_values_dict = {'1001 before you die' : 4,
                    'blank check discord' : 5,
                    'edgar wright' : 4,
                    'elgyem collection' : 2,
                    'empire masterpieces' : 4,
                    'empire top 100' : 2,
                    'guillermo del toro' : 3,
                    'imdb top 250' : 3,
                    'letterboxd top 250' : 2,
                    'movies everyone should watch' : 3,
                    'network favourites' : 1,
                    'sight and sound' : 5}

def list_value_calc(source_files):
    return sum(list_values_dict.get(f, 0.1) for f in source_files)

film_counts['list values'] = film_counts['lists'].apply(list_value_calc)

In [87]:
film_counts.head()

,URL,appearances,name,year,lists,sort,list values
0,10hC,2,Make Way for Tomorrow,1937,"[1001 before you die, elgyem collection]",make way for tomorrow,6
1,10iU,3,La Notte,1961,"[1001 before you die, edgar wright, letterboxd...",la notte,10
2,10iq,1,Pyaasa,1957,[sight and sound],pyaasa,5
3,10uQ,1,Terror Train,1980,[elgyem collection],terror train,2
4,11Hc,1,Baby Doll,1956,[elgyem collection],baby doll,2

In [88]:
film_count_counts = (
    film_counts["appearances"]
    .value_counts()
    .sort_index(ascending=False)
    .rename("number of films")
    .to_frame()
)

film_count_counts["cumulative total"] = film_count_counts["number of films"].cumsum()

print(film_count_counts)

    number of films  cumulative total
11                2                 2
10               11                13
9                23                36
8                30                66
7                52               118
6                44               162
5                79               241
4               125               366
3               237               603
2               500              1103
1              1661              2764

In [97]:
film_counts.head()

,URL,appearances,name,year,lists,sort,list values
0,10hC,2,Make Way for Tomorrow,1937,"[1001 before you die, elgyem collection]",make way for tomorrow,6
1,10iU,3,La Notte,1961,"[1001 before you die, edgar wright, letterboxd...",la notte,10
2,10iq,1,Pyaasa,1957,[sight and sound],pyaasa,5
3,10uQ,1,Terror Train,1980,[elgyem collection],terror train,2
4,11Hc,1,Baby Doll,1956,[elgyem collection],baby doll,2

In [101]:
list_length = 250

filtered_films = film_counts.sort_values(by=["appearances", "list values"], ascending=False)
filtered_films = filtered_films.head(list_length).sort_values('sort').reset_index()

for i, row in filtered_films.iterrows():
    print(f"{i+1}. {row['name']} ({row['year']}) - {row['appearances']}")

1. 12 Angry Men (1957) - 8
2. 2001: A Space Odyssey (1968) - 10
3. The 400 Blows (1959) - 7
4. 8½ (1963) - 8
5. Ace in the Hole (1951) - 5
6. Airplane! (1980) - 6
7. Akira (1988) - 6
8. Alien (1979) - 10
9. Aliens (1986) - 6
10. All About Eve (1950) - 8
11. All About My Mother (1999) - 5
12. All That Heaven Allows (1955) - 5
13. All That Jazz (1979) - 7
14. Amadeus (1984) - 8
15. Andrei Rublev (1966) - 5
16. Annie Hall (1977) - 5
17. The Apartment (1960) - 8
18. Apocalypse Now (1979) - 8
19. Army of Shadows (1969) - 5
20. Back to the Future (1985) - 8
21. Badlands (1973) - 4
22. Barry Lyndon (1975) - 9
23. The Battle of Algiers (1966) - 8
24. Beau Travail (1999) - 4
25. Before Sunrise (1995) - 6
26. Before Sunset (2004) - 5
27. Being John Malkovich (1999) - 5
28. Being There (1979) - 5
29. The Best Years of Our Lives (1946) - 5
30. Bicycle Thieves (1948) - 8
31. The Big Lebowski (1998) - 6
32. The Birds (1963) - 5
33. Blade Runner (1982) - 10
34. The Blair Witch Project (1999) - 5
35. Blow Out (1981) - 5
36. Blue Velvet (1986) - 5
37. Boogie Nights (1997) - 5
38. Brazil (1985) - 7
39. Breathless (1960) - 5
40. Bride of Frankenstein (1935) - 7
41. The Bridge on the River Kwai (1957) - 5
42. Brief Encounter (1945) - 7
43. A Brighter Summer Day (1991) - 6
44. Bringing Up Baby (1938) - 5
45. Brokeback Mountain (2005) - 5
46. Cabaret (1972) - 5
47. Casablanca (1942) - 10
48. Children of Men (2006) - 6
49. Children of Paradise (1945) - 6
50. Chinatown (1974) - 8
51. Chungking Express (1994) - 6
52. Citizen Kane (1941) - 8
53. City Lights (1931) - 8
54. City of God (2002) - 7
55. Cléo from 5 to 7 (1962) - 7
56. A Clockwork Orange (1971) - 7
57. Close Encounters of the Third Kind (1977) - 5
58. Come and See (1985) - 7
59. The Conversation (1974) - 6
60. The Cranes Are Flying (1957) - 5
61. Daisies (1966) - 4
62. The Dark Knight (2008) - 8
63. Das Boot (1981) - 5
64. Day for Night (1973) - 5
65. Days of Heaven (1978) - 5
66. The Deer Hunter (1978) - 5
67. Die Hard (1988) - 7
68. Do the Right Thing (1989) - 8
69. Dog Day Afternoon (1975) - 5
70. Don't Look Now (1973) - 7
71. Double Indemnity (1944) - 9
72. Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 9
73. Duck Soup (1933) - 4
74. The Elephant Man (1980) - 7
75. The Empire Strikes Back (1980) - 7
76. E.T. the Extra-Terrestrial (1982) - 5
77. Eternal Sunshine of the Spotless Mind (2004) - 7
78. Everything Everywhere All at Once (2022) - 7
79. Evil Dead II (1987) - 5
80. The Exorcist (1973) - 6
81. The Exterminating Angel (1962) - 5
82. Eyes Without a Face (1960) - 5
83. Fanny and Alexander (1982) - 7
84. Fargo (1996) - 7
85. Fight Club (1999) - 7
86. The Fly (1986) - 5
87. Frankenstein (1931) - 5
88. Full Metal Jacket (1987) - 5
89. The General (1926) - 7
90. Get Out (2017) - 7
91. Ghostbusters (1984) - 7
92. Gladiator (2000) - 5
93. The Godfather (1972) - 11
94. The Godfather Part II (1974) - 10
95. Godzilla (1954) - 6
96. The Good, the Bad and the Ugly (1966) - 10
97. GoodFellas (1990) - 10
98. The Graduate (1967) - 5
99. The Grand Budapest Hotel (2014) - 7
100. Grave of the Fireflies (1988) - 5
101. Grease (1978) - 5
102. Groundhog Day (1993) - 5
103. Halloween (1978) - 6
104. The Handmaiden (2016) - 6
105. Harold and Maude (1971) - 5
106. Heat (1995) - 9
107. High and Low (1963) - 7
108. Hiroshima Mon Amour (1959) - 5
109. His Girl Friday (1940) - 7
110. Ikiru (1952) - 8
111. In a Lonely Place (1950) - 5
112. In the Mood for Love (2000) - 9
113. Inception (2010) - 6
114. Inglourious Basterds (2009) - 7
115. The Innocents (1961) - 5
116. The Insider (1999) - 5
117. Interstellar (2014) - 6
118. The Iron Giant (1999) - 6
119. It's a Wonderful Life (1946) - 9
120. Jaws (1975) - 9
121. Jeanne Dielman, 23, quai du Commerce, 1080 Bruxelles (1975) - 5
122. Jurassic Park (1993) - 8
123. King Kong (1933) - 5
124. The King of Comedy (1982) - 5
125. L.A. Confidential (1997) - 5
126. La Dolce Vita (1960) - 7
127. La Haine (1995) - 6
128. Lady Bird (2017) - 6
129. Last Year at Marienbad (1961) - 6
130. Late Spring (1949) - 5
131. Lawrence of Arabia (1962) - 7
132. Le Samouraï (1967) - 5
133. The Life and Death of Colonel Blimp (1943) - 6
134. The Lives of Others (2006) - 6
135. The Lord of the Rings: The Fellowship of the Ring (2001) - 9
136. The Lord of the Rings: The Return of the King (2003) - 5
137. M (1931) - 9
138. Mad Max: Fury Road (2015) - 8
139. Magnolia (1999) - 7
140. The Man Who Shot Liberty Valance (1962) - 5
141. The Matrix (1999) - 8
142. A Matter of Life and Death (1946) - 7
143. Memento (2000) - 5
144. Memories of Murder (2003) - 6
145. Metropolis (1927) - 7
146. Modern Times (1936) - 8
147. Monty Python and the Holy Grail (1975) - 5
148. Moonlight (2016) - 6
149. Mulholland Drive (2001) - 8
150. My Neighbor Totoro (1988) - 6
151. Napoleon (1927) - 5
152. Nashville (1975) - 6
153. Network (1976) - 7
154. The Night of the Hunter (1955) - 9
155. Night of the Living Dead (1968) - 5
156. No Country for Old Men (2007) - 7
157. North by Northwest (1959) - 5
158. Nosferatu (1922) - 5
159. Ocean's Eleven (2001) - 5
160. Oldboy (2003) - 6
161. Once Upon a Time in the West (1968) - 8
162. One Flew Over the Cuckoo's Nest (1975) - 7
163. Oppenheimer (2023) - 7
164. Out of the Past (1947) - 5
165. Pan's Labyrinth (2006) - 8
166. Parasite (2019) - 9
167. Paris, Texas (1984) - 8
168. The Passion of Joan of Arc (1928) - 8
169. Paths of Glory (1957) - 6
170. Persona (1966) - 7
171. The Piano (1993) - 7
172. PlayTime (1967) - 5
173. Portrait of a Lady on Fire (2019) - 8
174. Possession (1981) - 4
175. The Princess Bride (1987) - 5
176. Psycho (1960) - 9
177. Pulp Fiction (1994) - 9
178. Raging Bull (1980) - 9
179. Raiders of the Lost Ark (1981) - 9
180. Ran (1985) - 9
181. Rashomon (1950) - 7
182. Ratatouille (2007) - 5
183. Rear Window (1954) - 9
184. The Red Shoes (1948) - 7
185. Rififi (1955) - 6
186. Rio Bravo (1959) - 5
187. Rocky (1976) - 6
188. Rosemary's Baby (1968) - 5
189. Saving Private Ryan (1998) - 6
190. Scarface (1983) - 5
191. Schindler's List (1993) - 7
192. Scream (1996) - 6
193. Se7en (1995) - 8
194. The Searchers (1956) - 5
195. A Serious Man (2009) - 6
196. Seven Samurai (1954) - 9
197. The Seventh Seal (1957) - 7
198. The Shawshank Redemption (1994) - 7
199. Sherlock Jr. (1924) - 8
200. The Shining (1980) - 9
201. The Silence of the Lambs (1991) - 8
202. Singin' in the Rain (1952) - 10
203. The Social Network (2010) - 6
204. Some Like It Hot (1959) - 7
205. Sorcerer (1977) - 7
206. Spider-Man: Into the Spider-Verse (2018) - 7
207. The Spirit of the Beehive (1973) - 5
208. Spirited Away (2001) - 9
209. Stalker (1979) - 7
210. Stand by Me (1986) - 6
211. Star Wars (1977) - 10
212. Strangers on a Train (1951) - 5
213. Sullivan's Travels (1941) - 5
214. Sunrise: A Song of Two Humans (1927) - 5
215. Sunset Boulevard (1950) - 8
216. Suspiria (1977) - 7
217. Sweet Smell of Success (1957) - 6
218. Tampopo (1985) - 5
219. Taste of Cherry (1997) - 6
220. Taxi Driver (1976) - 9
221. Terminator 2: Judgment Day (1991) - 10
222. The Texas Chain Saw Massacre (1974) - 8
223. There Will Be Blood (2007) - 9
224. The Thing (1982) - 10
225. The Third Man (1949) - 9
226. This Is Spinal Tap (1984) - 4
227. Three Colours: Red (1994) - 5
228. Throne of Blood (1957) - 6
229. To Be or Not to Be (1942) - 7
230. Tokyo Story (1953) - 7
231. Touch of Evil (1958) - 6
232. A Touch of Zen (1970) - 4
233. Trainspotting (1996) - 7
234. The Treasure of the Sierra Madre (1948) - 6
235. The Umbrellas of Cherbourg (1964) - 6
236. Vertigo (1958) - 11
237. The Wages of Fear (1953) - 5
238. When Harry Met Sally... (1989) - 6
239. Whiplash (2014) - 7
240. Who Framed Roger Rabbit (1988) - 5
241. The Wild Bunch (1969) - 4
242. Wild Strawberries (1957) - 7
243. Withnail & I (1987) - 5
244. The Wizard of Oz (1939) - 7
245. A Woman Under the Influence (1974) - 6
246. Yi Yi (2000) - 5
247. The Young and the Damned (1950) - 5
248. Young Frankenstein (1974) - 4
249. The Young Girls of Rochefort (1967) - 6
250. Zodiac (2007) - 5

In [47]:
selection = film_counts[film_counts["appearances"] == 7].sort_values(by="name", ascending=True)
for _, row in selection.iterrows():
    print(f"{row['name']} ({row['year']})")

A Clockwork Orange (1971)
A Matter of Life and Death (1946)
All That Jazz (1979)
Brazil (1985)
Bride of Frankenstein (1935)
Brief Encounter (1945)
City of God (2002)
Cléo from 5 to 7 (1962)
Come and See (1985)
Die Hard (1988)
Don't Look Now (1973)
Eternal Sunshine of the Spotless Mind (2004)
Everything Everywhere All at Once (2022)
Fanny and Alexander (1982)
Fargo (1996)
Fight Club (1999)
Get Out (2017)
Ghostbusters (1984)
High and Low (1963)
His Girl Friday (1940)
Inglourious Basterds (2009)
La Dolce Vita (1960)
Lawrence of Arabia (1962)
Magnolia (1999)
Metropolis (1927)
Network (1976)
No Country for Old Men (2007)
One Flew Over the Cuckoo's Nest (1975)
Oppenheimer (2023)
Persona (1966)
Rashomon (1950)
Schindler's List (1993)
Some Like It Hot (1959)
Sorcerer (1977)
Spider-Man: Into the Spider-Verse (2018)
Stalker (1979)
Suspiria (1977)
The 400 Blows (1959)
The Elephant Man (1980)
The Empire Strikes Back (1980)
The General (1926)
The Grand Budapest Hotel (2014)
The Piano (1993)
The Red Shoes (1948)
The Seventh Seal (1957)
The Shawshank Redemption (1994)
The Wizard of Oz (1939)
To Be or Not to Be (1942)
Tokyo Story (1953)
Trainspotting (1996)
Whiplash (2014)
Wild Strawberries (1957)

In [93]:
film_counts[film_counts['name'] == "La La Land"].head(1).lists.item()

['1001 before you die',
 'empire top 100',
 'movies everyone should watch',
 'network favourites']

In [32]:
film_counts[film_counts['name'].str.contains("Twin Peaks")]

,URL,appearances,name,year,lists,sort
1171,27Qw,4,Twin Peaks: Fire Walk with Me,1992,"[blank check discord, edgar wright, letterboxd...",twin peaks fire walk with me
2280,hN9O,1,Twin Peaks: The Return,2017,[sight and sound],twin peaks the return