In [19]:
import pandas as pd
import re
import unicodedata
from pathlib import Path

In [10]:
# df = pd.read_excel('letterboxd.xlsx')
# df['URL'] = df['URL'].str.replace('https://boxd.it/', '')
# df['Year'] = df['Year'].astype(int)
# print(df.head())

In [20]:
def remove_accents(text):
    normalised = unicodedata.normalize('NFKD', text)
    return ''.join(c for c in normalised if not unicodedata.combining(c))

def clean_title(title):
    title = remove_accents(title)
    title = title.lower()
    title = re.sub(r'[^A-Za-z0-9 ]', '', title)

    if title[:4] == "the ":
        title = title[4:]
    elif title[:2] == "a ":
        title = title[2:]
    elif title[:3] == "an ":
        title = title[3:]
    
    return title

In [21]:
lists_folder = Path("lists")
csv_files = lists_folder.glob("*.csv")

dfs = []

for file in csv_files:
    df = pd.read_csv(file, skiprows=4)
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)
combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')
combined_df['Year'] = combined_df['Year'].astype(int)
combined_df['Sort Name'] = combined_df['Name'].apply(clean_title)

C:\Users\Tom\AppData\Local\Temp\ipykernel_18640\242285196.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')

In [8]:
combined_df.head()

,Position,Name,Year,URL,Description,Sort Name
0,1,All of Us Strangers,2023,Bz3C,NaN,all of us strangers
1,2,The Zone of Interest,2023,gJsA,NaN,zone of interest
2,3,The Boy and the Heron,2023,ipeM,NaN,boy and the heron
3,4,Poor Things,2023,tNWU,NaN,poor things
4,5,Oppenheimer,2023,wUow,NaN,oppenheimer

In [22]:
film_counts = (
    combined_df.groupby("URL")
      .agg(
          appearances=("URL", "count"),
          name=("Name", "first"),
          year=("Year", "first"),
          sort=("Sort Name", "first")
      )
      .reset_index()
)

In [13]:
film_counts.head()

    URL  appearances                   name  year                   sort
0  10hC            2  Make Way for Tomorrow  1937  make way for tomorrow
1  10iU            3               La Notte  1961               la notte
2  10iq            1                 Pyaasa  1957                 pyaasa
3  10uQ            1           Terror Train  1980           terror train
4  11Hc            1              Baby Doll  1956              baby doll

In [23]:
film_count_counts = (
    film_counts["appearances"]
    .value_counts()
    .sort_index(ascending=False)
    .rename("number of films")
    .to_frame()
)

film_count_counts["cumulative total"] = film_count_counts["number of films"].cumsum()

print(film_count_counts)

    number of films  cumulative total
10                6                 6
9                19                25
8                33                58
7                40                98
6                45               143
5                71               214
4               116               330
3               204               534
2               462               996
1              1394              2390

In [24]:
filtered_films = film_counts[film_counts["appearances"] > 2].sort_values(by=["sort"], ascending=True).reset_index()

In [25]:
filtered_films[['name', 'year', 'appearances']].head()

                    name  year  appearances
0           12 Angry Men  1957            8
1       12 Years a Slave  2013            3
2                   1917  2019            3
3  2001: A Space Odyssey  1968            9
4           The 39 Steps  1935            3

In [26]:
for i, row in filtered_films.iterrows():
    print(f"{i+1}. {row['name']} ({row['year']}) - {row['appearances']}")

1. 12 Angry Men (1957) - 8
2. 12 Years a Slave (2013) - 3
3. 1917 (2019) - 3
4. 2001: A Space Odyssey (1968) - 9
5. The 39 Steps (1935) - 3
6. 4 Months, 3 Weeks and 2 Days (2007) - 3
7. The 400 Blows (1959) - 6
8. 8½ (1963) - 7
9. Ace in the Hole (1951) - 5
10. Adaptation. (2002) - 3
11. The Adventures of Robin Hood (1938) - 4
12. Aguirre, the Wrath of God (1972) - 3
13. Airplane! (1980) - 6
14. Akira (1988) - 5
15. Ali: Fear Eats the Soul (1974) - 4
16. Alien (1979) - 9
17. Aliens (1986) - 6
18. All About Eve (1950) - 8
19. All About My Mother (1999) - 5
20. All That Heaven Allows (1955) - 4
21. All That Jazz (1979) - 6
22. All the President's Men (1976) - 4
23. Amadeus (1984) - 8
24. Amarcord (1973) - 3
25. Amélie (2001) - 4
26. American Graffiti (1973) - 3
27. An American Werewolf in London (1981) - 4
28. Anatomy of a Murder (1959) - 3
29. Andrei Rublev (1966) - 5
30. Angels with Dirty Faces (1938) - 3
31. Annie Hall (1977) - 5
32. The Apartment (1960) - 8
33. Apocalypse Now (1979) - 8
34. Apur Sansar (1959) - 3
35. Army of Shadows (1969) - 4
36. Arrival (2016) - 4
37. The Ascent (1977) - 4
38. Ashes and Diamonds (1958) - 3
39. Au Hasard Balthazar (1966) - 3
40. Avatar (2009) - 3
41. Back to the Future (1985) - 8
42. Badlands (1973) - 4
43. Barbie (2023) - 3
44. Barry Lyndon (1975) - 8
45. The Battle of Algiers (1966) - 8
46. Beau Travail (1999) - 4
47. Before Sunrise (1995) - 5
48. Before Sunset (2004) - 4
49. Being John Malkovich (1999) - 5
50. Being There (1979) - 4
51. Belle de Jour (1967) - 3
52. Ben-Hur (1959) - 4
53. The Best Years of Our Lives (1946) - 4
54. Bicycle Thieves (1948) - 8
55. The Big Lebowski (1998) - 5
56. The Big Sleep (1946) - 3
57. The Birds (1963) - 4
58. Black Narcissus (1947) - 3
59. Blade Runner (1982) - 9
60. The Blair Witch Project (1999) - 5
61. Blazing Saddles (1974) - 3
62. Blow Out (1981) - 4
63. Blow-Up (1966) - 4
64. Blue Velvet (1986) - 5
65. The Blues Brothers (1980) - 3
66. Body Heat (1981) - 4
67. Bonnie and Clyde (1967) - 4
68. Boogie Nights (1997) - 5
69. Boyhood (2014) - 4
70. Braveheart (1995) - 3
71. Brazil (1985) - 6
72. Breathless (1960) - 5
73. Bride of Frankenstein (1935) - 6
74. The Bridge on the River Kwai (1957) - 5
75. Brief Encounter (1945) - 7
76. A Brighter Summer Day (1991) - 6
77. Bringing Up Baby (1938) - 5
78. Broadcast News (1987) - 3
79. Brokeback Mountain (2005) - 5
80. Cabaret (1972) - 5
81. The Cabinet of Dr. Caligari (1920) - 3
82. Carrie (1976) - 4
83. Casablanca (1942) - 10
84. Catch Me If You Can (2002) - 3
85. The Celebration (1998) - 4
86. Children of Men (2006) - 6
87. Children of Paradise (1945) - 6
88. Chinatown (1974) - 8
89. Chungking Express (1994) - 6
90. Cinema Paradiso (1988) - 4
91. Citizen Kane (1941) - 8
92. City Lights (1931) - 7
93. City of God (2002) - 7
94. Cléo from 5 to 7 (1962) - 7
95. Clerks (1994) - 4
96. A Clockwork Orange (1971) - 6
97. Close Encounters of the Third Kind (1977) - 4
98. Close-Up (1990) - 3
99. Come and See (1985) - 7
100. The Conformist (1970) - 4
101. The Conversation (1974) - 5
102. The Cook, the Thief, His Wife & Her Lover (1989) - 4
103. Cool Hand Luke (1967) - 3
104. The Court Jester (1955) - 3
105. The Cranes Are Flying (1957) - 5
106. Cries and Whispers (1972) - 3
107. Crimes and Misdemeanors (1989) - 3
108. Crouching Tiger, Hidden Dragon (2000) - 3
109. The Crowd (1928) - 3
110. Cure (1997) - 3
111. Daisies (1966) - 4
112. The Dark Knight (2008) - 7
113. Das Boot (1981) - 5
114. Day for Night (1973) - 5
115. Days of Heaven (1978) - 5
116. Dazed and Confused (1993) - 3
117. Dead Poets Society (1989) - 3
118. Dead Ringers (1988) - 3
119. Deep End (1970) - 3
120. The Deer Hunter (1978) - 5
121. Deliverance (1972) - 4
122. The Departed (2006) - 3
123. Detour (1945) - 3
124. Diabolique (1955) - 3
125. Die Hard (1988) - 7
126. Dirty Harry (1971) - 3
127. Django Unchained (2012) - 4
128. Do the Right Thing (1989) - 8
129. Dog Day Afternoon (1975) - 5
130. Don't Look Now (1973) - 6
131. Double Indemnity (1944) - 9
132. Down by Law (1986) - 3
133. Downfall (2004) - 3
134. Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 8
135. Drive My Car (2021) - 4
136. Duck Soup (1933) - 4
137. Dune: Part Two (2024) - 4
138. The Earrings of Madame de... (1953) - 3
139. The Elephant Man (1980) - 6
140. The Empire Strikes Back (1980) - 7
141. Eraserhead (1977) - 3
142. E.T. the Extra-Terrestrial (1982) - 5
143. Eternal Sunshine of the Spotless Mind (2004) - 7
144. Everything Everywhere All at Once (2022) - 6
145. Evil Dead II (1987) - 5
146. The Exorcist (1973) - 5
147. The Exterminating Angel (1962) - 4
148. Eyes Without a Face (1960) - 4
149. Fanny and Alexander (1982) - 6
150. Fantasia (1940) - 3
151. Fantastic Mr. Fox (2009) - 4
152. Fargo (1996) - 7
153. The Father (2020) - 3
154. Ferris Bueller's Day Off (1986) - 4
155. Fiddler on the Roof (1971) - 3
156. Field of Dreams (1989) - 3
157. Fight Club (1999) - 7
158. Fitzcarraldo (1982) - 3
159. The Fly (1986) - 4
160. Forbidden Planet (1956) - 4
161. Forrest Gump (1994) - 3
162. Frankenstein (1931) - 4
163. Freaks (1932) - 3
164. The French Connection (1971) - 4
165. The Fugitive (1993) - 3
166. Full Metal Jacket (1987) - 4
167. Funeral Parade of Roses (1969) - 3
168. Funny Games (1997) - 4
169. The General (1926) - 6
170. Get Out (2017) - 6
171. Ghostbusters (1984) - 7
172. Gladiator (2000) - 5
173. Glengarry Glen Ross (1992) - 3
174. The Godfather (1972) - 10
175. The Godfather Part II (1974) - 10
176. Godzilla (1954) - 5
177. The Gold Rush (1925) - 3
178. Goldfinger (1964) - 3
179. Gone with the Wind (1939) - 4
180. The Good, the Bad and the Ugly (1966) - 10
181. Good Will Hunting (1997) - 3
182. Goodbye, Dragon Inn (2003) - 4
183. GoodFellas (1990) - 9
184. The Gospel According to St. Matthew (1964) - 3
185. The Graduate (1967) - 5
186. The Grand Budapest Hotel (2014) - 7
187. The Grapes of Wrath (1940) - 3
188. Grave of the Fireflies (1988) - 5
189. Grease (1978) - 5
190. The Great Escape (1963) - 4
191. The Green Mile (1999) - 3
192. Groundhog Day (1993) - 5
193. Halloween (1978) - 5
194. The Handmaiden (2016) - 6
195. Harakiri (1962) - 4
196. Hard Boiled (1992) - 3
197. A Hard Day's Night (1964) - 3
198. Harold and Maude (1971) - 5
199. The Haunting (1963) - 3
200. The Heartbreak Kid (1972) - 4
201. Heat (1995) - 8
202. Her (2013) - 4
203. High and Low (1963) - 6
204. High Plains Drifter (1973) - 3
205. Hiroshima Mon Amour (1959) - 5
206. His Girl Friday (1940) - 7
207. Hot Fuzz (2007) - 4
208. Howl's Moving Castle (2004) - 4
209. The Hunt (2012) - 4
210. I Am Cuba (1964) - 3
211. I Know Where I'm Going! (1945) - 3
212. The Ice Storm (1997) - 3
213. if.... (1968) - 3
214. Ikiru (1952) - 8
215. Il Sorpasso (1962) - 3
216. Imitation of Life (1959) - 3
217. In a Lonely Place (1950) - 5
218. In the Heat of the Night (1967) - 3
219. In the Mood for Love (2000) - 9
220. Incendies (2010) - 3
221. Inception (2010) - 6
222. The Incredibles (2004) - 3
223. Indiana Jones and the Last Crusade (1989) - 4
224. Inglourious Basterds (2009) - 7
225. The Innocents (1961) - 4
226. Inside Out (2015) - 3
227. The Insider (1999) - 5
228. Interstellar (2014) - 6
229. Intolerance: Love's Struggle Throughout the Ages (1916) - 3
230. Invasion of the Body Snatchers (1956) - 3
231. The Iron Giant (1999) - 5
232. It's a Wonderful Life (1946) - 9
233. Jackie Brown (1997) - 3
234. Jaws (1975) - 8
235. Jeanne Dielman, 23, quai du Commerce, 1080 Bruxelles (1975) - 5
236. JFK (1991) - 4
237. Journey to Italy (1954) - 3
238. Jules and Jim (1962) - 3
239. Jurassic Park (1993) - 8
240. Kes (1969) - 3
241. The Killer (1989) - 3
242. Kind Hearts and Coronets (1949) - 3
243. King Kong (1933) - 5
244. The King of Comedy (1982) - 5
245. Kiss Me Deadly (1955) - 3
246. Koyaanisqatsi (1982) - 3
247. Kung Fu Hustle (2004) - 3
248. Kwaidan (1964) - 3
249. L.A. Confidential (1997) - 5
250. La Dolce Vita (1960) - 7
251. La Haine (1995) - 5
252. La Jetée (1962) - 3
253. La La Land (2016) - 4
254. La Notte (1961) - 3
255. Lady Bird (2017) - 5
256. The Last Picture Show (1971) - 4
257. Last Year at Marienbad (1961) - 6
258. L'Atalante (1934) - 3
259. Late Spring (1949) - 5
260. L'Avventura (1960) - 3
261. Lawrence of Arabia (1962) - 7
262. Le Samouraï (1967) - 4
263. Le Trou (1960) - 3
264. L'Eclisse (1962) - 3
265. Léon: The Professional (1994) - 3
266. The Leopard (1963) - 3
267. Let the Right One In (2008) - 3
268. Letter from an Unknown Woman (1948) - 3
269. The Life and Death of Colonel Blimp (1943) - 6
270. Life Is Beautiful (1997) - 3
271. Life Is Sweet (1990) - 3
272. Life of Brian (1979) - 3
273. The Lion King (1994) - 4
274. Little Women (2019) - 3
275. The Lives of Others (2006) - 6
276. Local Hero (1983) - 3
277. The Long Goodbye (1973) - 4
278. The Lord of the Rings: The Fellowship of the Ring (2001) - 9
279. The Lord of the Rings: The Return of the King (2003) - 5
280. The Lord of the Rings: The Two Towers (2002) - 4
281. Lost in Translation (2003) - 4
282. The Lovers on the Bridge (1991) - 3
283. M (1931) - 9
284. Mad Max: Fury Road (2015) - 7
285. The Magnificent Ambersons (1942) - 3
286. Magnolia (1999) - 7
287. Malcolm X (1992) - 4
288. The Maltese Falcon (1941) - 4
289. A Man Escaped (1956) - 4
290. The Man Who Shot Liberty Valance (1962) - 5
291. Man with a Movie Camera (1929) - 3
292. The Manchurian Candidate (1962) - 4
293. Manhattan (1979) - 3
294. Manhunter (1986) - 3
295. Mary and Max (2009) - 3
296. Master and Commander: The Far Side of the World (2003) - 3
297. The Matrix (1999) - 8
298. A Matter of Life and Death (1946) - 7
299. McCabe & Mrs. Miller (1971) - 4
300. Mean Streets (1973) - 3
301. Memento (2000) - 5
302. Memories of Murder (2003) - 5
303. Metropolis (1927) - 6
304. Midnight Cowboy (1969) - 3
305. Midnight Run (1988) - 4
306. Millennium Actress (2001) - 3
307. Miller's Crossing (1990) - 3
308. Mirror (1975) - 4
309. Mishima: A Life in Four Chapters (1985) - 3
310. Modern Times (1936) - 7
311. Monty Python and the Holy Grail (1975) - 5
312. Moonlight (2016) - 6
313. Moonstruck (1987) - 4
314. Mr. Smith Goes to Washington (1939) - 4
315. Mulholland Drive (2001) - 8
316. The Muppet Movie (1979) - 3
317. My Darling Clementine (1946) - 3
318. My Neighbor Totoro (1988) - 5
319. The Naked Gun: From the Files of Police Squad! (1988) - 3
320. Napoleon (1927) - 5
321. Napoleon Dynamite (2004) - 3
322. Nashville (1975) - 6
323. Network (1976) - 7
324. The Night of the Hunter (1955) - 8
325. Night of the Living Dead (1968) - 4
326. A Nightmare on Elm Street (1984) - 3
327. Nights of Cabiria (1957) - 3
328. No Country for Old Men (2007) - 6
329. North by Northwest (1959) - 4
330. Nosferatu (1922) - 4
331. Notorious (1946) - 3
332. Ocean's Eleven (2001) - 5
333. Oldboy (2003) - 6
334. On the Waterfront (1954) - 4
335. Once Upon a Time in America (1984) - 4
336. Once Upon a Time... in Hollywood (2019) - 3
337. Once Upon a Time in the West (1968) - 8
338. One Flew Over the Cuckoo's Nest (1975) - 7
339. Onibaba (1964) - 3
340. Only Angels Have Wings (1939) - 3
341. Opening Night (1977) - 3
342. Oppenheimer (2023) - 6
343. Ordet (1955) - 4
344. Orpheus (1950) - 3
345. Out of the Past (1947) - 5
346. Paisan (1946) - 3
347. Pan's Labyrinth (2006) - 8
348. Paper Moon (1973) - 3
349. The Parallax View (1974) - 3
350. Parasite (2019) - 8
351. Paris, Texas (1984) - 8
352. The Passion of Joan of Arc (1928) - 8
353. Pather Panchali (1955) - 3
354. Paths of Glory (1957) - 5
355. Peeping Tom (1960) - 3
356. Perfect Blue (1997) - 3
357. Perfect Days (2023) - 3
358. Performance (1970) - 3
359. Persona (1966) - 7
360. Petite Maman (2021) - 3
361. Phantom of the Paradise (1974) - 3
362. Phantom Thread (2017) - 3
363. The Philadelphia Story (1940) - 3
364. The Pianist (2002) - 3
365. The Piano (1993) - 7
366. Picnic at Hanging Rock (1975) - 4
367. Pierrot le Fou (1965) - 3
368. A Place in the Sun (1951) - 3
369. Planet of the Apes (1968) - 3
370. PlayTime (1967) - 5
371. Point Blank (1967) - 3
372. Point Break (1991) - 4
373. Police Story (1985) - 3
374. Portrait of a Lady on Fire (2019) - 7
375. Possession (1981) - 3
376. The Prestige (2006) - 3
377. The Princess Bride (1987) - 5
378. Princess Mononoke (1997) - 4
379. Prisoners (2013) - 3
380. Psycho (1960) - 9
381. Pulp Fiction (1994) - 9
382. Raging Bull (1980) - 8
383. Raiders of the Lost Ark (1981) - 9
384. Raise the Red Lantern (1991) - 3
385. Raising Arizona (1987) - 4
386. Ran (1985) - 8
387. Rashomon (1950) - 7
388. Ratatouille (2007) - 5
389. Real Life (1979) - 3
390. Rear Window (1954) - 9
391. Rebel Without a Cause (1955) - 3
392. Red Desert (1964) - 3
393. The Red Shoes (1948) - 6
394. Requiem for a Dream (2000) - 4
395. Reservoir Dogs (1992) - 3
396. Rififi (1955) - 5
397. Rio Bravo (1959) - 4
398. RoboCop (1987) - 4
399. Rocco and His Brothers (1960) - 3
400. Rocky (1976) - 6
401. The Rocky Horror Picture Show (1975) - 3
402. Roman Holiday (1953) - 3
403. Rome, Open City (1945) - 3
404. A Room with a View (1986) - 3
405. Rosemary's Baby (1968) - 4
406. The Royal Tenenbaums (2001) - 3
407. The Rules of the Game (1939) - 3
408. Run Lola Run (1998) - 3
409. Rushmore (1998) - 4
410. Safe (1995) - 3
411. Sansho the Bailiff (1954) - 4
412. Satantango (1994) - 3
413. Saving Private Ryan (1998) - 6
414. Scarface (1983) - 4
415. Schindler's List (1993) - 7
416. Scream (1996) - 6
417. Se7en (1995) - 7
418. The Searchers (1956) - 5
419. Secrets & Lies (1996) - 3
420. A Separation (2011) - 3
421. A Serious Man (2009) - 5
422. Serpico (1973) - 4
423. Seven Samurai (1954) - 9
424. The Seventh Seal (1957) - 6
425. sex, lies, and videotape (1989) - 3
426. The Shawshank Redemption (1994) - 7
427. Sherlock Jr. (1924) - 8
428. The Shining (1980) - 8
429. The Silence of the Lambs (1991) - 8
430. Singin' in the Rain (1952) - 10
431. The Sixth Sense (1999) - 4
432. Sleeper (1973) - 3
433. The Social Network (2010) - 6
434. Solaris (1972) - 4
435. Some Like It Hot (1959) - 7
436. Sorcerer (1977) - 6
437. The Sound of Music (1965) - 4
438. Spartacus (1960) - 3
439. Spider-Man 2 (2004) - 3
440. Spider-Man: Into the Spider-Verse (2018) - 6
441. The Spirit of the Beehive (1973) - 4
442. Spirited Away (2001) - 9
443. Stalker (1979) - 7
444. Stand by Me (1986) - 5
445. Star Wars (1977) - 9
446. The Sting (1973) - 3
447. Strangers on a Train (1951) - 4
448. Sullivan's Travels (1941) - 4
449. Sunrise: A Song of Two Humans (1927) - 4
450. Sunset Boulevard (1950) - 8
451. Suspiria (1977) - 6
452. The Sweet Hereafter (1997) - 3
453. Sweet Smell of Success (1957) - 5
454. Synecdoche, New York (2008) - 4
455. The Taking of Pelham One Two Three (1974) - 3
456. The Tale of The Princess Kaguya (2013) - 3
457. Tampopo (1985) - 5
458. Taste of Cherry (1997) - 6
459. Taxi Driver (1976) - 8
460. The Terminator (1984) - 3
461. Terminator 2: Judgment Day (1991) - 9
462. Terms of Endearment (1983) - 3
463. The Texas Chain Saw Massacre (1974) - 7
464. There Will Be Blood (2007) - 9
465. Thief (1981) - 4
466. The Thing (1982) - 9
467. The Third Man (1949) - 8
468. This Is Spinal Tap (1984) - 4
469. Three Colours: Blue (1993) - 3
470. Three Colours: Red (1994) - 5
471. Throne of Blood (1957) - 5
472. Titanic (1997) - 4
473. To Be or Not to Be (1942) - 7
474. To Kill a Mockingbird (1962) - 4
475. Tokyo Story (1953) - 7
476. Tootsie (1982) - 3
477. Top Hat (1935) - 3
478. Touch of Evil (1958) - 5
479. A Touch of Zen (1970) - 4
480. Toy Story (1995) - 4
481. Trainspotting (1996) - 7
482. The Treasure of the Sierra Madre (1948) - 6
483. The Tree of Life (2011) - 3
484. Trouble in Paradise (1932) - 3
485. The Truman Show (1998) - 4
486. Twin Peaks: Fire Walk with Me (1992) - 4
487. Two-Lane Blacktop (1971) - 3
488. Ugetsu (1953) - 3
489. Umberto D. (1952) - 3
490. The Umbrellas of Cherbourg (1964) - 6
491. Un Chien Andalou (1929) - 3
492. Under the Skin (2013) - 3
493. Unforgiven (1992) - 4
494. The Untouchables (1987) - 3
495. Up (2009) - 3
496. The Usual Suspects (1995) - 4
497. Vagabond (1985) - 3
498. Vampyr (1932) - 3
499. The Vanishing (1988) - 3
500. The Verdict (1982) - 3
501. Vertigo (1958) - 10
502. The Virgin Suicides (1999) - 3
503. Vivre Sa Vie (1962) - 4
504. The Wages of Fear (1953) - 5
505. Wake in Fright (1971) - 3
506. Went the Day Well? (1942) - 3
507. West Side Story (1961) - 3
508. What Ever Happened to Baby Jane? (1962) - 3
509. What's Up, Doc? (1972) - 3
510. When Harry Met Sally... (1989) - 6
511. Where Is the Friend's House? (1987) - 4
512. Whiplash (2014) - 7
513. Who Framed Roger Rabbit (1988) - 5
514. Who's Afraid of Virginia Woolf? (1966) - 3
515. The Wicker Man (1973) - 3
516. The Wild Bunch (1969) - 4
517. Wild Strawberries (1957) - 7
518. Wild Tales (2014) - 3
519. Wings of Desire (1987) - 4
520. Withnail & I (1987) - 5
521. Witness for the Prosecution (1957) - 3
522. The Wizard of Oz (1939) - 7
523. The Wolf of Wall Street (2013) - 3
524. Woman in the Dunes (1964) - 3
525. A Woman Under the Influence (1974) - 6
526. Women on the Verge of a Nervous Breakdown (1988) - 3
527. Y Tu Mamá También (2001) - 3
528. Yi Yi (2000) - 5
529. Yojimbo (1961) - 4
530. The Young and the Damned (1950) - 4
531. Young Frankenstein (1974) - 4
532. The Young Girls of Rochefort (1967) - 6
533. Z (1969) - 3
534. Zodiac (2007) - 4

In [9]:
selection = film_counts[film_counts["appearances"] == 6].sort_values(by="name", ascending=True)
for _, row in selection.iterrows():
    print(f"{row['name']} ({row['year']})")

A Clockwork Orange (1971)
Aliens (1986)
All That Jazz (1979)
Brazil (1985)
Children of Men (2006)
Children of Paradise (1945)
Chungking Express (1994)
Everything Everywhere All at Once (2022)
Fanny and Alexander (1982)
Get Out (2017)
High and Low (1963)
Inception (2010)
Interstellar (2014)
Last Year at Marienbad (1961)
Metropolis (1927)
Moonlight (2016)
No Country for Old Men (2007)
Oldboy (2003)
Oppenheimer (2023)
Saving Private Ryan (1998)
Spider-Man: Into the Spider-Verse (2018)
Suspiria (1977)
Taste of Cherry (1997)
The 400 Blows (1959)
The Elephant Man (1980)
The General (1926)
The Handmaiden (2016)
The Life and Death of Colonel Blimp (1943)
The Lives of Others (2006)
The Piano (1993)
The Red Shoes (1948)
The Seventh Seal (1957)
The Social Network (2010)
The Texas Chain Saw Massacre (1974)
The Treasure of the Sierra Madre (1948)
The Umbrellas of Cherbourg (1964)
The Young Girls of Rochefort (1967)
To Be or Not to Be (1942)
When Harry Met Sally... (1989)
Whiplash (2014)