In [40]:
import pandas as pd
from pathlib import Path

In [41]:
# df = pd.read_excel('letterboxd.xlsx')
# df['URL'] = df['URL'].str.replace('https://boxd.it/', '')
# df['Year'] = df['Year'].astype(int)
# print(df.head())

In [53]:
lists_folder = Path("lists")
csv_files = lists_folder.glob("*.csv")

dfs = []

for file in csv_files:
    df = pd.read_csv(file, skiprows=4)
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)
combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')
combined_df['Year'] = combined_df['Year'].astype(int)

C:\Users\Tom\AppData\Local\Temp\ipykernel_7704\1895980572.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  combined_df['URL'] = combined_df['URL'].str.replace('https://boxd.it/', '')

In [54]:
film_counts = (
    combined_df.groupby("URL")
      .agg(
          appearances=("URL", "count"),
          name=("Name", "first"),
          year=("Year", "first")
      )
      .reset_index()
)

In [55]:
film_counts.head()

    URL  appearances                   name  year
0  10hC            1  Make Way for Tomorrow  1937
1  10iU            3               La Notte  1961
2  10iq            1                 Pyaasa  1957
3  11PU            1          Black Orpheus  1959
4  11aM            3     The Heartbreak Kid  1972

In [59]:
film_count_counts = (
    film_counts["appearances"]
    .value_counts()
    .sort_index(ascending=False)
    .rename("number of films")
    .to_frame()
)

film_count_counts["cumulative total"] = film_count_counts["number of films"].cumsum()

print(film_count_counts)

    number of films  cumulative total
10                1                 1
9                22                23
8                25                48
7                43                91
6                39               130
5                67               197
4               119               316
3               186               502
2               427               929
1              1268              2197

In [63]:
filtered_films = film_counts[film_counts["appearances"] > 6].sort_values(by=["year", "name"], ascending=True).reset_index()

In [64]:
filtered_films.head()

   index   URL  appearances                        name  year
0   1213  298m            8                Sherlock Jr.  1924
1   1231  29DO            7  The Passion of Joan of Arc  1928
2   1357  29ki            7                 City Lights  1931
3   1392  29vq            8                           M  1931
4   1024  25MC            7                Modern Times  1936

In [65]:
for i, row in filtered_films.iterrows():
    print(f"{i+1}. {row['name']} ({row['year']}) - {row['appearances']}")

1. Sherlock Jr. (1924) - 8
2. The Passion of Joan of Arc (1928) - 7
3. City Lights (1931) - 7
4. M (1931) - 8
5. Modern Times (1936) - 7
6. The Wizard of Oz (1939) - 7
7. His Girl Friday (1940) - 7
8. Citizen Kane (1941) - 8
9. Casablanca (1942) - 9
10. Double Indemnity (1944) - 9
11. Brief Encounter (1945) - 7
12. A Matter of Life and Death (1946) - 7
13. It's a Wonderful Life (1946) - 9
14. Bicycle Thieves (1948) - 8
15. The Third Man (1949) - 8
16. All About Eve (1950) - 8
17. Rashomon (1950) - 7
18. Sunset Boulevard (1950) - 8
19. Ikiru (1952) - 7
20. Singin' in the Rain (1952) - 10
21. Tokyo Story (1953) - 7
22. Rear Window (1954) - 9
23. Seven Samurai (1954) - 9
24. The Night of the Hunter (1955) - 8
25. 12 Angry Men (1957) - 8
26. Wild Strawberries (1957) - 7
27. Vertigo (1958) - 9
28. Some Like It Hot (1959) - 7
29. La Dolce Vita (1960) - 7
30. Psycho (1960) - 8
31. The Apartment (1960) - 8
32. Cléo from 5 to 7 (1962) - 7
33. Lawrence of Arabia (1962) - 7
34. 8½ (1963) - 7
35. Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 8
36. Persona (1966) - 7
37. The Battle of Algiers (1966) - 7
38. The Good, the Bad and the Ugly (1966) - 9
39. 2001: A Space Odyssey (1968) - 9
40. Once Upon a Time in the West (1968) - 7
41. The Godfather (1972) - 9
42. Chinatown (1974) - 8
43. The Godfather Part II (1974) - 9
44. Barry Lyndon (1975) - 7
45. Jaws (1975) - 7
46. One Flew Over the Cuckoo's Nest (1975) - 7
47. Network (1976) - 7
48. Taxi Driver (1976) - 8
49. Star Wars (1977) - 9
50. Alien (1979) - 9
51. Apocalypse Now (1979) - 8
52. Stalker (1979) - 7
53. Raging Bull (1980) - 7
54. The Empire Strikes Back (1980) - 7
55. The Shining (1980) - 8
56. Raiders of the Lost Ark (1981) - 9
57. Blade Runner (1982) - 9
58. The Thing (1982) - 9
59. Amadeus (1984) - 8
60. Ghostbusters (1984) - 7
61. Paris, Texas (1984) - 7
62. Back to the Future (1985) - 8
63. Come and See (1985) - 7
64. Ran (1985) - 7
65. Die Hard (1988) - 7
66. Do the Right Thing (1989) - 8
67. GoodFellas (1990) - 9
68. Terminator 2: Judgment Day (1991) - 9
69. The Silence of the Lambs (1991) - 8
70. Jurassic Park (1993) - 8
71. Schindler's List (1993) - 7
72. Pulp Fiction (1994) - 9
73. The Shawshank Redemption (1994) - 7
74. Heat (1995) - 8
75. Se7en (1995) - 7
76. Trainspotting (1996) - 7
77. Fight Club (1999) - 7
78. The Matrix (1999) - 8
79. In the Mood for Love (2000) - 9
80. Mulholland Drive (2001) - 7
81. Spirited Away (2001) - 9
82. The Lord of the Rings: The Fellowship of the Ring (2001) - 9
83. City of God (2002) - 7
84. Eternal Sunshine of the Spotless Mind (2004) - 7
85. Pan's Labyrinth (2006) - 8
86. There Will Be Blood (2007) - 9
87. The Dark Knight (2008) - 7
88. Inglourious Basterds (2009) - 7
89. Mad Max: Fury Road (2015) - 7
90. Parasite (2019) - 8
91. Portrait of a Lady on Fire (2019) - 7

In [67]:
selection = film_counts[film_counts["appearances"] == 6].sort_values(by="name", ascending=True)
for _, row in selection.iterrows():
    print(f"{row['name']} ({row['year']})")

A Clockwork Orange (1971)
Aliens (1986)
All That Jazz (1979)
Brazil (1985)
Children of Paradise (1945)
Chungking Express (1994)
Fanny and Alexander (1982)
Fargo (1996)
Get Out (2017)
High and Low (1963)
Inception (2010)
Interstellar (2014)
L.A. Confidential (1997)
Last Year at Marienbad (1961)
Magnolia (1999)
Metropolis (1927)
Moonlight (2016)
No Country for Old Men (2007)
Oldboy (2003)
Saving Private Ryan (1998)
Spider-Man: Into the Spider-Verse (2018)
Suspiria (1977)
Taste of Cherry (1997)
The 400 Blows (1959)
The Elephant Man (1980)
The General (1926)
The Grand Budapest Hotel (2014)
The Handmaiden (2016)
The Life and Death of Colonel Blimp (1943)
The Lives of Others (2006)
The Red Shoes (1948)
The Seventh Seal (1957)
The Social Network (2010)
The Texas Chain Saw Massacre (1974)
The Treasure of the Sierra Madre (1948)
The Umbrellas of Cherbourg (1964)
The Young Girls of Rochefort (1967)
To Be or Not to Be (1942)
Whiplash (2014)